# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
.env

# FastAPI logs
*.log

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace


# 무시할 파일들
app.db
test.db
